{% extends "main/homebase.html" %}

{% block title %}Home{% endblock %}

{% block center-header %}
    <div id="welcome-header" class="center-header">
        <h4>Get started</h4>
    </div>
{% endblock %}    
{% block center %}    
    <div class="center-area">
        <div class="center-wrapper">
            <div class="home-wrapper">
                <h3>Welcome to BillSplit</h3>
                <br />
                <h4>Here you'll be able to see all your events and start one of your own!</h4>
                <br />
                <h4>Once you host an event, you can invite friends, add items to bring, and chat.</h4>
                <br />
                <h4>After it's all done, the people who didn't pay enough can pay back their generous friends via PayPal.</h4>
                <br />
                <h4>Let's get started!</h4>
                <br />
                <a href="/new_event/" class="submit-button" type="button">Host an event</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block right %}
{% endblock %}




