{% extends "main/base2.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="open">
        <div class="open-area">
            <div class="password-header">
                <img src="{{ MEDIA_URL }}templates/main/images/resetpassword.png"/>
            </div>
        <div class="register-form-wrapper">
            <div class="form-padding">
    <form action="" method="post">
        {{ form.email.errors }}
        <div class="form-row">
            <label for="id_email" class="biglabel">Email</label> 
            <input type="text" name="email" id="id_email" class="input-row" maxlength="75" />
        </div>
        {% csrf_token %}
        <input class="change-password-button" value="Reset Password" type="submit">
    </form>
</div>
</div>
    </div>
</div>
{% endblock %}

