{% extends "main/homebase.html" %}

{% block title %}Home{% endblock %}

{% block center-header %}
    <div id="account-header" class="large-header">
        <h4>Account Details</h4>
    </div>
{% endblock %}    
{% block center %}    
    <div class="center-area">
        <div class="center-wrapper">
            <div class="password-change-success">
                <h2>Password Change Successful</h2>
                <br />
                <p>Your password was changed.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block right %}
{% endblock %}




