{% extends "main/base2.html" %}

{% block title %}Password Reset Success{% endblock %}

{% block content %}
<div class="open">
    <div class="open-area">
        <div class="password-header">
            <img src="{{ MEDIA_URL }}templates/main/images/resetpassword.png"/>
        </div>
        <div class="register-form-wrapper password-reset-done">
            <div class="form-padding">
                <h1>Password reset successful</h1>
                <br />
                <h2>You'll get an email shortly with instructions on changing your password.</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}

