{% extends "main/base2.html" %}

{% block title %}Password Reset Success{% endblock %}

{% block content %}
<div class="open">
    <div class="open-area">
    	<div class="password-header">
            <img src="{{ MEDIA_URL }}templates/main/images/resetpassword.png"/>
        </div>
        <div class="register-form-wrapper">
        	<div class="form-padding">
	            <h1>Password reset complete</h1>
	            <br />
	            <span class="login-button">
	                <a href="/">Login</a>
	            </span>
        	</div>
        </div>
    </div>
</div>
{% endblock %}

